{{#d-modal-body}}
  {{future-date-input input=model.at}}
{{/d-modal-body}}

<div class="modal-footer">
  {{d-button action="reschedule"
             label="mingle.reschedule"
             class="btn-primary"}}
  {{d-button action="closeModal" label="close"}}
</div>
