{{#if showButton}}
  <div class="mingle-date">{{date}}</div>
  {{d-button action="reschedule"
             class="btn-primary"
             title="mingle.reschedule"
             icon="clock-o"}}
{{/if}}
